__pycache__
.vscode/
.idea/
dist/
build/
.venv/
htmlcov/
.git
.gitignore
Mackefile_local
pyproject.toml_local
*.env
.env*
*.env.*
Dockerfile.*
docker-compose.*
*.pyc
*.pyo
*.pyd
*.swp
*.log
*.coverages
.coverage
.coverage.*
*.egg-info/
*.tar.gz
*.egg
*.DS_Store
*.bak
*.tmp
*.swp
htmlcov/
migrations/*.pyc
migrations/__pycache__
